
<div class="row">
        <!-- Columna izquierda: Imagen corporativa -->
        <div class="col-md-6 img-column d-none d-md-block">
          <!-- La imagen se establece como fondo en el CSS -->
       </div>

        <!-- Columna derecha: Formulario de inicio de sesión -->
        <div class="col-md-6 d-flex align-items-center justify-content-center min-vh-100">
          <div class="login-form">
            <h2>Iniciar Sesión</h2>
            <form>
              <!-- Campo de Email -->
                <div class="input-group mb-3">
                  <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                  <input type="email" class="form-control form-control-lg " placeholder="Correo electrónico" required>
                </div>
          
              <!-- Campo de Contraseña -->
                <div class="input-group mb-3">
                  <span class="input-group-text"><i class="bi bi-lock"></i></span>
                  <input type="password" class="form-control form-control-lg " placeholder="Contraseña" required>
                </div>
          
                <!-- Botón de Iniciar Sesión -->
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </form>
          </div>
        </div>
</div>


