
<div class="container pt-md-3">
  <div class="row min-vh-90">
    <div class="col-md-6  d-flex align-items-center justify-content-center p-5">
      <div class="banner-content text-center text-md-start">
        <h1 class="display-4 fw-bold mb-4">Transformamos tu negocio</h1>
        <p class="lead mb-4">Nuestras soluciones innovadoras  te ayudan a crecer y alcanzar nuevos clientes en el mundo digital.</p>
        <div class="d-flex gap-3 justify-content-center justify-content-md-start">
            <button class="btn btn-primary btn-lg">Get Started</button>
            <button class="btn btn-outline-secondary btn-lg">Learn More</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center p-5">
      <img src="/assets/img/undraw_location-tracking_q3yd.svg"
           alt="Location Tracking"
           class="img-fluid w-100"
           style="max-height: 70vh;">
    </div>
  </div>
</div>
