<div class="row">
    <div class="col d-flex align-items-center justify-content-center min-vh-100" >
        <button type="button" class="btn btn-primary " (click)="login()">Iniciar Sesión</button>
        <button type="button" class="btn btn-primary mx-2" (click)="logout()">Cerrar Sesión</button>
        <button type="button" class="btn btn-primary" (click)="parseAccessToken()">Parsear Access Token</button>
        <button type="button" class="btn btn-primary ms-2" (click)="getUserProfile()">Get User Profile</button>
        <button type="button" class="btn btn-primary ms-2" (click)="isAuthenticated()">Is Authenticated</button>
    </div>
</div>