<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">DigitalBussiness</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/sucursales">Ver sucursales</a>
            </li>
            @if (isAuthenticated) {
              <li class="nav-item">
                <a class="nav-link" routerLink="/crear-sucursal">Agregar sucursal</a>
              </li>
            }
          <!-- Add more menu items as needed -->
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          @if (userProfile)
          {
            <li class="nav-item dropdown " >
                  <button class="btn btn-dark dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    @if(isAuthenticated){
                      <i class="bi bi-person-circle"></i>
                    }@else {
                      <i class="bi bi-box-arrow-in-right"></i>
                    }
                     {{ userProfile.username }}
                  </button>

                  @if (isAuthenticated){
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <!-- <li><a class="dropdown-item" href="#">{{userProfile.firstName}} {{userProfile.lastName}}</a></li>
                      <li><a class="dropdown-item" href="#">{{userProfile.email}}</a></li>
                      <li><hr class="dropdown-divider"></li> -->
                      <li><a class="dropdown-item btn" (click)="logout()"><i class="bi bi-box-arrow-left"></i> Logout</a></li>
                    </ul>
                   } @else {
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item btn" (click)="loging()">Login</a></li>
                    </ul>
                  }
            </li>
          }

        </ul>
      </div>
    </div>
  </nav>
